# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/MRISIM

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/MRISIM https://github.com/OpenEngineDK/projects-MRISIM.git
git-dev /projects/MRISIM git@github.com:OpenEngineDK/projects-MRISIM.git

dist /extensions/MathGL/MathGL.dist      https://raw.githubusercontent.com/OpenEngineDK/extensions-MathGL/master/MathGL.dist
dist /extensions/Qt/Qt.dist      https://raw.githubusercontent.com/OpenEngineDK/extensions-Qt/master/Qt.dist
dist /extensions/InspectionWidget/InspectionWidget.dist      https://raw.githubusercontent.com/OpenEngineDK/extensions-InspectionWidget/master/InspectionWidget.dist
dist /extensions/Wall/Wall.dist      https://raw.githubusercontent.com/OpenEngineDK/extensions-Wall/master/Wall.dist
dist /extensions/Plotting/Plotting.dist  https://raw.githubusercontent.com/OpenEngineDK/extensions-Plotting/master/Plotting.dist
dist /extensions/PropertyTree/PropertyTree.dist  https://raw.githubusercontent.com/OpenEngineDK/extensions-PropertyTree/master/PropertyTree.dist
dist /extensions/OpenCL/OpenCL.dist  https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenCL/master/OpenCL.dist




# required extensions
git /extensions/MeshUtils			https://github.com/OpenEngineDK/extensions-MeshUtils.git
git /extensions/SetupHelpers           https://github.com/OpenEngineDK/extensions-SetupHelpers.git
git /extensions/Qt                    https://github.com/OpenEngineDK/extensions-Qt.git
git /extensions/HUD                    https://github.com/OpenEngineDK/extensions-HUD.git
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/SDLFont                    https://github.com/OpenEngineDK/extensions-SDLFont.git
git /extensions/SDLImage               https://github.com/OpenEngineDK/extensions-SDLImage.git
git /extensions/CairoResource          https://github.com/OpenEngineDK/extensions-CairoResource.git
git /extensions/OpenGLRenderer        https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/TGAResource            https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/OBJResource            https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/AccelerationStructures https://github.com/OpenEngineDK/extensions-AccelerationStructures.git
git /extensions/CUDA 			https://github.com/OpenEngineDK/extensions-CUDA.git

git-dev /extensions/SetupHelpers           git@github.com:OpenEngineDK/extensions-SetupHelpers.git
git-dev /extensions/HUD                    git@github.com:OpenEngineDK/extensions-HUD.git
git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/SDLFont                git@github.com:OpenEngineDK/extensions-SDLFont.git
git-dev /extensions/SDLImage               git@github.com:OpenEngineDK/extensions-SDLImage.git
git-dev /extensions/CairoResource          git@github.com:OpenEngineDK/extensions-CairoResource.git
git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/TGAResource            git@github.com:OpenEngineDK/extensions-TGAResource.git
git-dev /extensions/OBJResource            git@github.com:OpenEngineDK/extensions-OBJResource.git
git-dev /extensions/AccelerationStructures git@github.com:OpenEngineDK/extensions-AccelerationStructures.git
git-dev /extensions/CUDA git@github.com:OpenEngineDK/extensions-CUDA.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries
darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip

# linux libraries

# project data
any /projects/MRISIM/data/Fonts  http://openengine.dk/data/fonts/freefont-ttf-20090104.tar.gz
any /projects/MRISIM/data        http://openengine.dk/data/projects/MRISIM/brain.tar.gz
any /projects/MRISIM/data        http://openengine.dk/data/projects/MRISIM/magnet.png
any /                            http://openengine.dk/data/projects/MRISIM/shepplogan.tar.gz
any /                            http://openengine.dk/data/projects/MRISIM/brain-yaml.tar.gz
